{% extends 'layout.html' %}

{% block title %}
  <title>Testimonials</title>
{% endblock %}

{% block content %}
  <div class="container">
    <h3 class = "mt-5 text-center">Testimonials</h3>
    <div class="row">
      <div class="col-sm">
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">The Affordable Care Act was — and is — a big deal. I’m committed to building on the progress we’ve made since its passing to ensure every American has access to the quality, affordable care they need. <a href="https://t.co/y8PaxLVrzl">pic.twitter.com/y8PaxLVrzl</a></p>&mdash; President Biden (@POTUS) <a href="https://twitter.com/POTUS/status/1435380930047262721?ref_src=twsrc%5Etfw">September 7, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="col-sm">
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Really honored to be supporting <a href="https://twitter.com/TheAsiaGroup?ref_src=twsrc%5Etfw">@TheAsiaGroup</a> on the ground in Hanoi where I&#39;m continuing my work strengthening Vietnam-U.S. relations while helping businesses and investors find success. <a href="https://t.co/Vw5wGElvyQ">https://t.co/Vw5wGElvyQ</a></p>&mdash; Pham Quang Vinh (@vinhlhq2015) <a href="https://twitter.com/vinhlhq2015/status/1258631304075075584?ref_src=twsrc%5Etfw">May 8, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
      <div class="col-sm">
        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">L’Shanah Tovah! <a href="https://twitter.com/SecondGentleman?ref_src=twsrc%5Etfw">@SecondGentleman</a> and I send our warmest wishes for a happy, healthy, and sweet New Year to all those celebrating Rosh Hashanah. <a href="https://t.co/pA2DcSG6jw">pic.twitter.com/pA2DcSG6jw</a></p>&mdash; Vice President Kamala Harris (@VP) <a href="https://twitter.com/VP/status/1434916807798767623?ref_src=twsrc%5Etfw">September 6, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>

  </div>
{% endblock %}
